.Withdraw_exit {
    margin: 0;
    padding: 0;

    text-align: right;

    text-decoration-line: underline;

    color: white
}

.Withdraw_input_field {
    margin: 100px;
    padding: 0;

    text-align: center;

}

.Withdraw_input_submit {
    margin: 15px;
    padding: 0;

    text-align: center;
    background: none;
    border: none;
    color: white

}






.LogoTop {
    margin: 0;
    padding: 0;

    position: absolute;
    left: 10px;
    top: 0px;

    color: white
}

.LogoTop_Bank {
    margin: 0;
    padding: 0;

    position: absolute;
    left: 135px;
    top: 0px;

    color: black;
}

.LogoBot {
    margin: 0;
    padding: 0;

    position: absolute;
    left: 10px;
    top: 40px;

    color: white
    
}